
* {
    box-sizing: border-box;
}

.content-section {
    padding-top: 50px;
}

.content-section__header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
}

.btn-containter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-item {
    padding: 12px 20px;
    margin: 0 10px;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #4CAF50; /* Green */
}

.pagination-indicator {
    margin: 2rem 0;
    padding: 0;
    background-color: #4CAF50;
    text-align: center;
    font-size: 1.4rem;
}

.pagination-indicator--visible {
    padding: 1.2rem;
}


/* MEDIA QUERIES */

@media (min-width: 768px) { 
    .content-section__header {
        font-size: 36px;
    }
}


